<!-- <div class="cart text-center">
  <h1 class="pt-3">Cart</h1>
  <div class="container">
    <div class="row">
      <div class="card_product_container">
        <div class="col-12 card_product" *ngFor="let product of CartProducts">
          <img src="{{ product.image_url }}" class="card-img-top" alt="..." />
          <h5 class="card-publisher item_product_publisher">
            {{ product.publisher }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <button
  class="btn btn-primary cart_btn"
  id="cart_btn"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasRight"
  aria-controls="offcanvasRight"
  (click)="moveCartBtn()"
>
  <i class="fa-solid fa-cart-shopping"></i>
  cart
</button>
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="cart text-center">
      <h1 class="pt-3">Cart</h1>
      <div class="container">
        <div class="row">
          <div class="card_product_container">
            <div
              class="col-12 card_product"
              *ngFor="let product of CartProducts"
            >
              <img
                src="{{ product.image_url }}"
                class="card-img-top"
                alt="..."
              />
              <h5 class="card-publisher item_product_publisher">
                {{ product.publisher }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <button
  class="btn btn-primary cart_btn"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasWithBothOptions"
  aria-controls="offcanvasWithBothOptions"
>
  <i class="fa-solid fa-cart-shopping"></i>
</button> -->

<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
      Backdrop with scrolling
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="cart text-center">
      <h1 class="pt-3">Cart</h1>
      <div class="container">
        <div class="row">
          <div class="card_product_container">
            <div
              class="col-12 card_product"
              *ngFor="let product of CartProducts"
            >
              <img
                src="{{ product.image_url }}"
                class="card-img-top"
                alt="..."
              />
              <h5 class="card-publisher item_product_publisher">
                {{ product.publisher }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Offcanvas title</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="cart text-center">
      <h1 class="pt-3">Cart</h1>
      <div class="container">
        <div class="row">
          <div class="card_product_container">
            <div
              class="col-12 card_product"
              *ngFor="let product of CartProducts"
            >
              <img
                src="{{ product.image_url }}"
                class="card-img-top"
                alt="..."
              />
              <h5 class="card-publisher item_product_publisher">
                {{ product.publisher }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="text-end">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="offcanvas.close('Close click')"
      >
        Close
      </button>
    </div> -->
  </div>
</ng-template>

<a
  class=" cart_btn"
  (click)="openEnd(content)"
>
  <!-- {{ isOffcanvasOpen ? "Close" : "Open" }} -->
  <i class="fa-solid fa-cart-shopping"></i>
</a>
