h2,h3 {
    /* color: #eee; */
}
hr {
    opacity: 0.5;
    width: 5%;
    color: #eee;
    border: 2px solid;
}
table {
    font-weight: 200;
    box-shadow: 0px 0px 20px 3px #000;
}
.add-btn {
    background: none;
    color: blue;
}
.add-btn:hover {
    background-color: blue;
    color: white;
}
.edit-btn {
    background: none;
    color: #0091ae;
}
.edit-btn:hover {
    background-color: #0dcaf0;
    color: black;
}
.delete-btn {
    background: none;
    color: red;
}
.delete-btn:hover {
    background-color: #dc3545;
    color: white;
}
tr:hover {
    box-shadow: 2px 0px 0px #9c9c9c;
    transition: 0.5s;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
