<div class="container">
<div class="row no-gutters">
    <!-- <div class="col-sm-3 "  >
            <div class="cards">
              <h4>{{projectcount}}+</h4>
              <p>clients every day</p>
            </div>
    </div>
    <div class="col-sm-3 ">
        
            <div class="cards">
              <h4>{{clientcount}}+</h4>
              <p>Great Moments</p>
            </div>
    </div>
    <div class="col-sm-3 ">
            <div class="cards">
              <h4>{{coffecups}}+</h4>
              <p>Cups of Coffee Daily</p>
            </div>
    </div>
    <div class="col-sm-3 ">
            <div class="cards">
              <h4>{{sushitypes}}+</h4>
              <p>types of sushi</p>
            </div>
    </div> -->
    <div class="counter" #counterRef>0</div>
    <div class="counter" #counterRef2>0 </div>
    <div class="counter" #counterRef3>0 </div>


  </div>
</div>