<div class="container">
<div class="row no-gutters">
    <div class="col-sm-3 "  >
            <div class="cards">

              <span class="backgroundcolor"><div class="counter"  #counterRef style="display: inline-block;">0</div>+</span>
              <p>Clients Every Day</p>
            </div>
    </div>
    <div class="col-sm-3 ">

            <div class="cards">
          <span class="backgroundcolor"><div class="counter" #counterRef2 style="display: inline-block;">0</div>+</span>
              <p>Great Moments</p>
            </div>
    </div>
    <div class="col-sm-3 ">
            <div class="cards">
              <span class="backgroundcolor"><div class="counter" #counterRef3 style="display: inline-block;">0</div>+</span>
              <p>Cups of Coffee Daily</p>
            </div>
    </div>
    <div class="col-sm-3 ">
            <div class="cards">
          <span class="backgroundcolor"><div class="counter" #counterRef4 style="display: inline-block;">0 </div>+</span>

           <p>type of sushi</p>

            </div>
    </div>

    <!-- <div class="counter" #counterRef2>0 </div> -->



  </div>
</div>
