<div class="container pt-5">
  <span class="section-title">
    <h2>Reservation</h2>
    <hr>
  </span>
  <h6 class="text-white"><i class="fas fa-filter"></i> filter by date or table number: </h6>
  <div class="filter">
    <div class="filter-date">
      <div class="date form-group">
        <div class="me-4">
          <label for="startDate">Start Date</label>
          <input type="date" [(ngModel)]="startDate" id="startDate" class="form-control">
        </div>
        <div>
          <label for="endDate">End Date</label>
          <input type="date" [(ngModel)]="endDate" id="endDate" (change)="filterDataByDate()" class="form-control">
        </div>
      </div>
    </div>
    <div class="tableNum">
      <form (submit)="filterDataByTable()">
        <input type="text" [(ngModel)]="tableNum" name="tableNum" class="form-control" placeholder="write table number">
        <button type="submit" class="btn btn-outline-info ms-2 w-50">filter <i class="fas fa-filter"></i></button>
      </form>
    </div>
  </div>
  <table class="table table-dark text-center">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Status</th>
        <th scope="col">Customer</th>
        <th scope="col">Table Number</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="filterReservation && filterReservation.length > 0;">
        <tr *ngFor="let reserve of filterReservation">
          <td>{{reserve.id}}</td>
          <td>{{reserve.start_date}}</td>
          <td *ngIf="reserve.end_date == null">Not Selected</td>
          <td *ngIf="reserve.end_date">{{reserve.end_date}}</td>
          <td>{{reserve.status}}</td>
          <td>{{reserve.customer.name}}</td>
          <td>{{reserve.table.number}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="(!filterReservation || filterReservation.length == 0) && filterBytable && filterBytable.length > 0;">
        <tr *ngFor="let reserve of filterBytable">
          <td>{{reserve.id}}</td>
          <td>{{reserve.start_date}}</td>
          <td *ngIf="reserve.end_date == null">Not Selected</td>
          <td *ngIf="reserve.end_date">{{reserve.end_date}}</td>
          <td>{{reserve.status}}</td>
          <td>{{reserve.customer.name}}</td>
          <td>{{reserve.table.number}}</td>
        </tr>
        </ng-container>
      <ng-container *ngIf="(!filterReservation || filterReservation.length == 0) && (!filterBytable || filterBytable.length == 0);">
        <tr *ngFor="let reservation of reservations">
          <td>{{reservation.id}}</td>
          <td>{{reservation.start_date}}</td>
          <td *ngIf="reservation.end_date == null">Not Selected</td>
          <td *ngIf="reservation.end_date">{{reservation.end_date}}</td>
          <td>{{reservation.status}}</td>
          <td>{{reservation.customer.name}}</td>
          <td>{{reservation.table.number}}</td>
        </tr>
        </ng-container>
    </tbody>
  </table>
  <ngb-pagination
  [collectionSize]="totalItems"
  [pageSize]="pageSize"
  [(page)]="pageNumber"
  (pageChange)="onPageChange($event)"
></ngb-pagination>
</div>