<div class="container pt-5">
    <span class="section-title">
      <h2>Reservation</h2>
      <hr>
    </span>
      <table class="table table-dark text-center">
          <thead>
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Status</th>
              <th scope="col">Customer</th>
              <th scope="col">Table Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reservation of reservations">
                <td>{{reservation.id}}</td>
                <td>{{reservation.start_date}}</td>
                <td *ngIf="reservation.end_date == null">Not Selected</td>
                <td *ngIf="reservation.end_date">{{reservation.end_date}}</td>
                <td>{{reservation.status}}</td>
                <td>{{reservation.customer_id}}</td>
                <td>{{reservation.table.number}}</td>
            </tr>
          </tbody>
        </table>
  </div>
