h2,h3 {
    color: #eee;
}
hr {
    opacity: 0.5;
    width: 5%;
    color: #eee;
    border: 2px solid;
}
table {
    font-weight: 200;
    box-shadow: 0px 0px 20px 3px #000;
}
.add-btn {
    background: none;
    color: blue;
}
.add-btn:hover {
    background-color: blue;
    color: white;
}
.edit-btn {
    background: none;
    color: #0091ae;
}
.edit-btn:hover {
    background-color: #0dcaf0;
    color: black;
}
.delete-btn {
    background: none;
    color: red;
}
.delete-btn:hover {
    background-color: #dc3545;
    color: white;
}
tr:hover {
    box-shadow: 2px 0px 0px #9c9c9c;
    transition: 0.5s;
}
.filter {
    display: flex;
    color: #eee;
    justify-content: space-around;
    align-items: end;
    padding: 15px;
    margin: 10px;
}
.filter-date {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.filter .date {
    display: flex;
}
.tableNum form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
