<div class="container p-100">
  <div class="container_forms">
    <!-- Start Form Add Product -->
    <form
      [formGroup]="productForm"
      (ngSubmit)="createProduct()"
      class="form_admin form__admin__special text-bg-dark"
    >
      <div class="row">
        <div class="col">
          <div class="bgGreyLight_1 vertical_align_center">
            <h2 class="form_title">Add Product</h2>
            <div class="row">
              <!--Start productName  Input -->
              <div class="col-xl-6 inputs__container">
                <label for="" class="px-2"
                  >Product Name<span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="input__form"
                  formControlName="productName"
                />
                <!-- Start Validation For productName  -->

                <div
                  *ngIf="
                    product_Name_Control.invalid && product_Name_Control.touched
                  "
                  class="text-danger"
                >
                  <div *ngIf="product_Name_Control.errors?.['required']">
                    <p class="alert alert-danger">Product Name is required</p>
                  </div>
                  <div *ngIf="product_Name_Control.errors?.['minlength']">
                    <p class="alert alert-danger">
                      Name must be at least
                      {{ product_Name_Control.errors?.['minlength'].requiredLength }}
                      characters long
                    </p>
                  </div>
                </div>
                <!-- End Validation For productName -->
              </div>
              <!--End productName Input -->

              <!--Start productDiscount  Input -->
              <div class="col-xl-6 inputs__container">
                <label for="" class="px-2">Product Discount</label>
                <input
                  type="text"
                  class="input__form"
                  name="productDiscount"
                  formControlName="productDiscount"
                />
                <!-- Start Validation For product Discount  -->
                <div
                  *ngIf="
                    product_Discount_Control.invalid &&
                    product_Discount_Control.touched
                  "
                  class="text-danger"
                >
                  <div *ngIf="product_Discount_Control.errors?.['required']">
                    <p class="alert alert-danger">
                      product Discount is required
                    </p>
                  </div>
                </div>
                <!-- End Validation For product Discount -->
              </div>
              <!--End productDiscount  Input -->

              <!--Start Upload Image Input -->
              <div class="col-xl-6 inputs__container">
                <label for="" class="px-2"
                  >Upload Image<span class="text-danger">*</span></label
                >
                <input
                  #addfileInput
                  type="file"
                  class="input__form"
                  name="image"
                  formControlName="image"
                />
                <!-- Start Validation For product image  -->
                <div
                  *ngIf="
                    product_image_Control.invalid &&
                    product_image_Control.touched
                  "
                  class="text-danger"
                >
                  <div *ngIf="product_image_Control.errors?.['required']">
                    <p class="alert alert-danger">product image is required</p>
                  </div>
                </div>
                <!-- End Validation For product image -->
              </div>
              <!--End Upload Image Input -->

              <!--Start category_id  Input -->
              <div class="col-xl-6 inputs__container">
                <label for="" class="px-2"
                  >Category Name<span class="text-danger">*</span></label
                >
                <select
                  name="category_id"
                  class="input__form"
                  formControlName="category_id"
                >
                  <option
                    *ngFor="let category of categories"
                    value="{{ category.id }}"
                  >
                    {{ category.name }}
                  </option>
                </select>
                <!-- Start Validation For category_id  -->
                <div
                  *ngIf="
                    category_id_Control.invalid && category_id_Control.touched
                  "
                  class="text-danger"
                >
                  <div *ngIf="category_id_Control.errors?.['required']">
                    <p class="alert alert-danger">category Name is required</p>
                  </div>
                </div>
                <!-- End Validation For category_id -->
              </div>
              <!--End category_id  Input -->

              <!--Start productDescription  Input -->
              <div class="col-xl-6 inputs__container">
                <label for="" class="px-2">Product Description</label>
                <textarea
                  class="input__form"
                  name=""
                  formControlName="productDescription"
                  id=""
                  cols="30"
                  rows="3"
                ></textarea>

              </div>
              <!--End productDescription  Input -->
            </div>
          </div>
          <div *ngIf="productForm.invalid && submitted" class="text-danger">
            <p class="alert alert-danger">
              Please fill in all required fields.
            </p>
          </div>
          <div *ngIf="showErroressage" class="text-danger">
            <p class="alert alert-danger">
              {{ ErrorMessage }}
            </p>
          </div>
          <div class="btn_container vertical">
            <div class="ntn_add_form">
              <button type="submit" class="btn-lg admin__sec__btn__form">
                Add Product
              </button>
            </div>
            <div class="">
              <a
                class="btn btn-primary ms-auto add-btn mx-2"
                (click)="showIngredientsForm = true"
              >
                <!-- <i class="fa-solid fa-circle-plus"></i> -->
                Add Ingredient <i class="fas fa-plus"></i>
              </a>
              <a
                class="btn btn-primary ms-auto add-btn"
                (click)="showExtraForm = true"
              >
                <!-- <i class="fa-solid fa-circle-plus"></i> -->
                Add Extra <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-5 container__Ingredients__Extra"
          *ngIf="!isIngredientsListEmpty || !isExtraListEmpty"
        >
          <div class="row">
            <div class="col-12 container__Ingredients">
              <h4>Ingredients</h4>
              <div class="list__Ingredients">
                <li *ngFor="let ingredient of IngredientsList">
                  <span>{{ ingredient.name }}</span>
                  <span>{{ ingredient.quantity }}kg</span>
                  <span class="list__Ingredients__price"
                    >${{ ingredient.total }}</span
                  >
                </li>
                <div class="total_price_ingredient">
                  total price =
                  <span>${{ calculate_total_price() }}</span>
                </div>
              </div>
            </div>
            <div class="col-12 container__Extra">
              <h4>Extra</h4>
              <div class="list__Ingredients list__Extra">
                <li *ngFor="let Extra of ExtraList">
                  <span>{{ Extra.name }}</span>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- End Form Add Product -->

    <!-- Start Form Add Ingredients -->
    <form
      [formGroup]="ingredientsForm"
      (ngSubmit)="addIngredientsForProduct()"
      class="form_admin text-bg-dark"
      *ngIf="showIngredientsForm"
    >
      <div class="vertical_align_center">
        <h2 class="form_title" id="IngredientFormTitle">Add Ingredient</h2>
        <div class="close_icon" (click)="closeIngredientForm()">
          <i class="fa-solid fa-circle-xmark"></i>
        </div>
        <div class="row">
          <!--Start Ingredient Name  Input -->
          <div class="col-xl-6 inputs__container">
            <label for="" class="px-2"
              >Ingredient Name<span class="text-danger">*</span></label
            >
            <select
              name="Ingredient_id"
              class="input__form"
              formControlName="Ingredient_id"
              [value]=""
              id="oldIngredient_id"
            >
              <option
                *ngFor="let ingredient of ingredients"
                value="{{ ingredient.id }}"
              >
                {{ ingredient.name }}
              </option>
            </select>
            <!-- Start Validation For Ingredient_id  -->
            <div
              *ngIf="
                ingredientsForm.controls['Ingredient_id'].invalid &&
                ingredientsForm.controls['Ingredient_id'].touched
              "
              class="text-danger"
            >
              <div
                *ngIf="ingredientsForm.controls['Ingredient_id'].errors?.['required']"
              >
                <p class="alert alert-danger">Ingredient Name is required</p>
              </div>
            </div>
            <!-- End Validation For Ingredient_id -->
          </div>
          <!--End Ingredient Name  Input -->

          <!--Start Ingredient Quantity  Input -->
          <div class="col-xl-6 inputs__container">
            <label for="" class="px-2"
              >Ingredient Quantity<span class="text-danger">*</span></label
            >
            <input
              type="number"
              class="input__form"
              formControlName="Ingredient_Quantity"
              placeholder=""
              [value]=""
              id="oldIngredient_quantity"
            />
            <!-- Start Validation For Ingredient Quantity  -->
            <div
              *ngIf="
                ingredientsForm.controls['Ingredient_Quantity'].invalid &&
                ingredientsForm.controls['Ingredient_Quantity'].touched
              "
              class="text-danger"
            >
              <div
                *ngIf="ingredientsForm.controls['Ingredient_Quantity'].errors?.['required']"
              >
                <p class="alert alert-danger">
                  Ingredient Quantity is required
                </p>
              </div>
            </div>
            <!-- End Validation For Ingredient Quantity -->
          </div>
          <!--End Ingredient Quantity Input -->
        </div>
      </div>
      <button
        type="submit"
        class="btn-lg admin__sec__btn__form"
        id="IngredientFormBtn"
      >
        Add Ingredients
      </button>
    </form>
    <!-- End Form Add Ingredients -->

    <!-- Start Form Add Extra -->
    <form
      [formGroup]="ExtraForm"
      (ngSubmit)="addExtraForProduct()"
      class="form_admin_extra w-25 text-bg-dark"
      *ngIf="showExtraForm"
    >
      <div class="vertical_align_center">
        <div class="close_icon" (click)="closeExtraForm()">
          <i class="fa-solid fa-circle-xmark"></i>
        </div>

        <h2 class="form_title">Add Extra</h2>
        <div class="row">
          <!--Start Ingredient Name  Input -->
          <div class="col-xl-12 inputs__container">
            <label for="" class="px-2"
              >Extra Name <span class="text-danger">*</span></label
            >
            <select
              name="category_id"
              class="input__form"
              formControlName="Ingredient_id"
            >
              <option value="10">aaa</option>
              <option
                *ngFor="let ingredient of ingredients"
                value="{{ ingredient.id }}"
              >
                {{ ingredient.name }}
              </option>
            </select>
            <!-- Start Validation For Ingredient_id  -->
            <div
              *ngIf="
                ExtraForm.controls['Ingredient_id'].invalid &&
                ExtraForm.controls['Ingredient_id'].touched
              "
              class="text-danger"
            >
              <div
                *ngIf="ExtraForm.controls['Ingredient_id'].errors?.['required']"
              >
                <p class="alert alert-danger">Extra Name is required</p>
              </div>
            </div>
            <!-- End Validation For Ingredient_id -->
          </div>
          <!--End Ingredient Name  Input -->

        </div>
      </div>
      <!-- Show message if form is invalid and submitted -->
      <div *ngIf="ExtraForm.invalid && submitted" class="text-danger">
        <p class="alert alert-danger">Please fill in all required fields.</p>
      </div>
      <button type="submit" class="btn-lg admin__sec__btn__form">
        Add Extra
      </button>
    </form>
    <!-- End Form Add Extra -->
  </div>
</div>
