<!-- <p>features-section works!</p> -->

<div class="container">
  <div class="features p-60">
    <div class="row">
      <div class="col-lg-3 col-md-6 ">
        <div class="features__card">
          <div class="features__icon">
            <img
              src="../../../assets/images/4137964_background_black_concept_flat_food_icon (1).png"
              alt=""
            />
          </div>
          <h4 class="features__title">fresh products</h4>
          <p class="features__description">
            For each dish, the growth of every element & the selection
          </p>
          <a href="" class="features__discover two__square">discover more</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="features__card">
          <div class="features__icon">
            <!-- <i class="fa-solid fa-drumstick-bite"></i> -->
            <img
              src="../../../assets/images/9921868_chef_hat_restaurant_cooking_kitchen_icon (1).png"
              alt=""
            />
          </div>
          <h4 class="features__title">skilled chefs</h4>
          <p class="features__description">
            For each dish, the growth of every element & the selection
          </p>
          <a href="" class="features__discover two__square">discover more</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="features__card">
          <div class="features__icon">
            <img
              src="../../../assets/images/9328611_juice_drink_glass_beverage_summer_icon.png"
              alt=""
            />
          </div>
          <h4 class="features__title">best bar</h4>
          <p class="features__description">
            For each dish, the growth of every element & the selection
          </p>
          <a href="" class="features__discover two__square">discover more</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="features__card">
          <div class="features__icon">
            <img
              src="../../../assets/images/4394725_avocado_diet_food_healthy_organic_icon.png"
              alt=""
            />
          </div>
          <h4 class="features__title">vegan cuisine</h4>
          <p class="features__description">
            For each dish, the growth of every element & the selection
          </p>
          <a href="" class="features__discover two__square">discover more</a>
        </div>
      </div>
    </div>
  </div>
</div>
