<div class="container py-5">
  <h2 class="form_title">Users</h2>
  <hr />
  <div *ngIf="success">
    <div class="alert alert-danger text-center">{{ success }}</div>
  </div>
  <form id="search_form" [formGroup]="searchForm">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      name="searchTerm"
      placeholder="Search.."
      formControlName="searchTerm"
      class="input_search text-left"
    />
  </form>
  <div class="d-flex mb-2">
    <a [routerLink]="'add'" class="btn btn-primary ms-auto add-btn"
      >Add User <i class="fas fa-user-plus"></i
    ></a>
  </div>
  <table class="table table-dark shadow text-center">
    <thead class="shadow">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th>{{ user.id }}</th>
        <th>
          <img
            [src]="
              user.image
                ? 'http://127.0.0.1:8000' + user.image
                : 'assets/images/user.png'
            "
            alt="avatar"
            width="40"
          />
        </th>
        <td>{{ user.name }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <button (click)="editUser(user.id)" class="btn btn-info m-2 edit-btn">
            Edit <i class="fas fa-pen-to-square"></i>
          </button>
          <button
            (click)="deleteUser(user.id)"
            class="btn btn-danger m-2 delete-btn"
          >
            Delete <i class="fas fa-xmark"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
  [collectionSize]="totalItems"
  [pageSize]="pageSize"
  [(page)]="pageNumber"
  (pageChange)="onPageChange($event)"
></ngb-pagination>
</div>
