<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <a [routerLink]="'/admin/dashboard/ingridents'"
          >Back <i class="fas fa-arrow-left"></i
        ></a>
        <div
          class="card text-bg-dark my-5 shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5 h-100">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-2 form_title">
              Add Ingridents <i class="fab fa-buffer"></i>
            </h3>
            <form (submit)="submitForm()" [formGroup]="ingridentForm">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline inputs__container">
                    <label class="form-label" for="name">Name</label>
                    <input
                      type="text"
                      id="name"
                      formControlName="name"
                      name="name"
                      class="form-control form-control-lg"
                    />
                    <div
                      id="fnameHelp"
                      class="form-text text-danger"
                      *ngIf="
                        ingridentForm.controls['name'].touched &&
                        ingridentForm.controls['name'].invalid
                      "
                    >
                      <span
                        *ngIf="ingridentForm.controls['name'].errors?.['required'] && !errors.name"
                      >
                        <div class="alert alert-danger">
                          The name field is required.
                        </div>
                      </span>
                    </div>
                    <div *ngIf="errors.name" class="mt-2">
                      <div class="alert alert-danger">{{ errors.name }}</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline inputs__container">
                    <label class="form-label" for="price">Price</label>
                    <input
                      type="number"
                      id="price"
                      formControlName="price"
                      name="price"
                      class="form-control form-control-lg"
                    />
                    <div
                      id="fnameHelp"
                      class="form-text text-danger"
                      *ngIf="
                        ingridentForm.controls['price'].touched &&
                        ingridentForm.controls['price'].invalid
                      "
                    >
                      <span
                        *ngIf="ingridentForm.controls['price'].errors?.['required'] && !errors.price"
                      >
                        <div class="alert alert-danger">
                          The price field is required.
                        </div>
                      </span>
                    </div>
                    <div *ngIf="errors.price" class="mt-2">
                      <div class="alert alert-danger">{{ errors.price }}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100 inputs__container">
                    <label class="form-label" for="profit">Profit</label>
                    <input
                      type="number"
                      id="profit"
                      formControlName="profit"
                      name="profit"
                      class="form-control form-control-lg"
                      max="0.99"
                    />
                    <div
                      id="fnameHelp"
                      class="form-text text-danger"
                      *ngIf="
                        ingridentForm.controls['profit'].touched &&
                        ingridentForm.controls['profit'].invalid
                      "
                    >
                      <span
                        *ngIf="ingridentForm.controls['profit'].errors?.['required'] && !errors.profit"
                      >
                        <div class="alert alert-danger">
                          The profit field is required.
                        </div>
                      </span>
                      <span
                        *ngIf="ingridentForm.controls['profit'].errors?.['max']"
                      >
                        <div class="alert alert-danger">
                          Not Valid more than 0.99
                        </div>
                      </span>
                    </div>
                    <div *ngIf="errors.profit" class="mt-2">
                      <div class="alert alert-danger">{{ errors.profit }}</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline inputs__container">
                    <label class="form-label" for="qyt">Quntity</label>
                    <input
                      type="number"
                      id="qyt"
                      formControlName="quntity"
                      name="quntity"
                      class="form-control form-control-lg"
                    />
                    <div
                      id="fnameHelp"
                      class="form-text text-danger"
                      *ngIf="
                        ingridentForm.controls['quntity'].touched &&
                        ingridentForm.controls['quntity'].invalid
                      "
                    >
                      <span
                        *ngIf="ingridentForm.controls['quntity'].errors?.['required'] && !errors.quntity"
                      >
                        <div class="alert alert-danger">
                          The quntity field is required.
                        </div>
                      </span>
                    </div>
                    <div *ngIf="errors.quntity" class="mt-2">
                      <div class="alert alert-danger">{{ errors.quntity }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-4 pt-2">
                <button
                  class="btn-lg admin__sec__btn__form"
                  type="submit"
                  value="Done"
                >
                  Done
                </button>
              </div>
              <div *ngIf="success" class="mt-2">
                <div class="alert alert-success">{{ success }}</div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
