<body style="background-color: black">
  <footer class="d-flex flex-column justify-content-center align-items-center">
    <div class="container-fluid mx-auto py-3">
      <div class="row">
        <div class="col-md-6" id="rightclm">
          <h6 class="text-uppercase">
            <img class="logo-image" src="assets/mylogo.png" alt="" width="20" />
            Jchef
          </h6>
          <p class="mb-0">
            A restaurant is a fantasy-a kind of living fantasy <br />in which
            diners are the most important members of the cast. .
          </p>
          <span
            ><i
              class="fab fa-facebook"
              style="
                color: #c39c6e;
                font-size: 20px;
                margin-top: 10px;
                margin-right: 5px;
              "
            ></i
          ></span>
          <span
            ><i
              class="fab fa-instagram"
              style="
                color: #c39c6e;
                font-size: 20px;
                border-radius: 50%;
                margin-right: 5px;
              "
            ></i
          ></span>
          <span
            ><i
              class="fab fa-twitter"
              style="
                color: #c39c6e;
                font-size: 20px;
                border-radius: 50%;
                margin-right: 5px;
              "
            ></i
          ></span>
          <span
            ><i
              class="fab fa-linkedin-in"
              style="
                color: #c39c6e;
                font-size: 20px;
                border-radius: 50%;
                margin-right: 5px;
              "
            ></i
          ></span>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase">Working Hourse</h6>

          <p>
            <span style="color: #c39c6e; font-weight: 600; margin-right: 5px"
              >Man-Fri:</span
            ><span>7.00am-6.00pm</span>
          </p>
          <p>
            <span style="color: #c39c6e; font-weight: 600; margin-right: 5px"
              >Sat:</span
            ><span>7.00am-6.00pm</span>
          </p>
          <p>
            <span style="color: #c39c6e; font-weight: 600; margin-right: 5px"
              >Sun:</span
            ><span>8.00am-6.00pm</span>
          </p>
        </div>
        <div class="col-md-4">
          <h6 class="text-uppercase">Contact</h6>
          <p style="margin-bottom: 15px">
            <i
              class="fas fa-map-marker-alt me-3"
              style="color: #c39c6e; font-size: 20px"
            ></i
            ><span> New York, NY 10012, US</span>
          </p>
          <p style="margin-bottom: 15px">
            <i class="fas fa-envelope me-3" style="color: #c39c6e"></i
            ><span> Jchef@gmali.com</span>
          </p>
          <p style="margin-bottom: 15px">
            <i class="fas fa-phone me-3" style="color: #c39c6e"></i
            ><span> + 01 234 567 88</span>
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
