<body style="background-color: black;">
  <footer class="d-flex flex-column justify-content-center align-items-center">
    <div class="container-fluid">
      <div class="row">
        <!-- First column content here -->
        <div class="col-md-3">
              <p>Conteacts</p>
              <span>
                <i class="fas fa-map-marker-alt" style="color: #b8860b;"></i>
                <span style="margin-left: 10px;">5 rue dalou ,15015pans</span>
              </span><br>
            <!-- phone number -->
              <span>
                <i class="fas fa-phone" style="color: #b8860b;"></i>
                <span style="margin-left: 10px;">+33 156 78 89 56</span>
              </span><br>
              <!-- email -->
              <span>
                <i class="fas fa-envelope" style="color: #b8860b;"></i>
                <span style="margin-left: 10px;">Jchef@mail.com</span>
              </span>
          </div>
        <!-- Second column content here -->
        <div class="col-md-3">
            <div id="theseccloumn">
              <p >Jchef</p>
              <p style="font-size: 12px;">Whisper to us about your feelings,and we will</p>
              <p style="font-size: 12px;">prepare what you need now.</p>
            </div>
        </div>
          <!-- Third column content here -->
          <div class="col-md-3 text-end">
          <p >Working Hourse</p>
          <p><span style="color:#b8860b ;">Man-Fre:</span>7.00am-6.00pm</p>
          <p><span style="color:#b8860b ;">Sat:</span>7.00am-6.00pm</p>
          <p><span style="color:#b8860b ;">sun:</span>8.00-6.00pm</p>
        </div>
      </div>
    </div>

</footer>
