<section class="bg-image" style="background-image: url('https://images.unsplash.com/photo-1554118811-1e0d58224f24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHJlc3RhdXJhbnQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&w=1000&q=80'); background-repeat: no-repeat; background-size: cover;">
  <div class="mask d-flex align-items-center gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-7">
          <div class="card my-5" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-2">Sign Up <i class="fas fa-user-plus"></i></h2>
              <hr>
              <span *ngIf="successResponse">
                <div class="alert alert-success text-center">{{successResponse}}</div>
              </span>
              <form
              (ngSubmit)="onSubmit()"
              [formGroup] = "signupForm"
              #registerForm="ngForm"
              >
              <div class="row mb-2">
                <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form3Example1cg">Your Name <i class="fas fa-user"></i></label>
                  <input 
                  formControlName="username"
                  type="text"
                  id="form3Example1cg" 
                  class="form-control form-control-lg" 
                  aria-describedby="fnameHelp"
                  />
                  <div id="fnameHelp" class="form-text text-danger" *ngIf="signupForm.controls['username'].touched && signupForm.controls['username'].invalid">
                    <span *ngIf="signupForm.controls['username'].errors?.['required'] && !errorsResponse.name">
                        <div class="alert alert-danger">This Field Is Required</div>
                    </span>
                    <span *ngIf="signupForm.controls['username'].errors?.['minlength']">
                        <div class="alert alert-danger">username must be more than 2 charactars</div>
                    </span>
                  </div>
                  <div *ngIf="errorsResponse.name" class="mt-2">
                    <div class="alert alert-danger">{{ errorsResponse.name }}</div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form3Example3cg">Your Email <i class="fas fa-at"></i></label>
                  <input 
                  type="email" 
                  formControlName="email" 
                  id="form3Example3cg" 
                  class="form-control form-control-lg"
                  aria-describedby="emailHelp"
                  />
                  <div id="emailHelp" class="form-text text-danger" *ngIf="signupForm.controls['email'].touched && signupForm.controls['email'].invalid">
                    <span *ngIf="signupForm.controls['email'].errors?.['required'] && !errorsResponse.email">
                        <div class="alert alert-danger">This Field Is Required</div>
                    </span>
                    <span *ngIf="signupForm.controls['email'].errors?.['email']">
                        <div class="alert alert-danger">Type a Valid Email</div>
                    </span>
                  </div>
                  <div *ngIf="errorsResponse.email" class="mt-2">
                    <div class="alert alert-danger">{{ errorsResponse.email }}</div>
                  </div>
                </div>
              </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form3Example4cg">Password <i class="fas fa-key"></i></label>
                  <input 
                  formControlName="password"
                  type="password"
                  id="form3Example4cg" 
                  class="form-control form-control-lg" 
                  aria-describedby="passwordHelp"
                  autocomplete="off"
                  />
                  <div id="passwordHelp" class="form-text text-danger" *ngIf="signupForm.controls['password'].touched && signupForm.controls['password'].invalid">
                    <span *ngIf="signupForm.controls['password'].errors?.['required'] && !errorsResponse.password">
                      <div class="alert alert-danger">This Field Is Required</div>
                    </span>
                    <span *ngIf="signupForm.controls['password'].errors?.['minlength']">
                        <div class="alert alert-danger">Less Than 8 Characters</div>
                    </span>
                    <span *ngIf="signupForm.controls['password'].errors?.['pattern']">
                        <div class="alert alert-danger">Week Password</div>
                    </span>
                  </div>
                  <div *ngIf="errorsResponse.password" class="mt-2">
                    <div class="alert alert-danger">{{ errorsResponse.password }}</div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form8Example4cg">Confirm Password <i class="fas fa-key"></i></label>
                  <input 
                  formControlName="confirmPassword"
                  type="password" 
                  id="form8Example4cg" 
                  class="form-control form-control-lg" 
                  aria-describedby="confirmpasswordHelp"
                  autocomplete="off"
                  />
                  <!-- <div id="confirmpasswordHelp" class="form-text text-danger" *ngIf="signupForm.controls['confirmPassword'].touched && signupForm.controls['confirmPassword'].invalid"> -->
                    <span *ngIf="confirm()">
                      <div class="alert alert-danger mt-1">password not match</div>
                    </span>
                  <!-- </div> -->
                </div>
              </div>
            </div>
                <div class="form-outline">
                  <label class="form-label" for="form3Example4cdg">Phone Number <i class="fas fa-phone"></i></label>
                  <input 
                  formControlName="phoneNumber"
                  type="text" 
                  id="form3Example4cdg" 
                  class="form-control form-control-lg"
                  aria-describedby="phoneNumHelp"
                  />
                  <div id="phoneNumHelp" class="form-text text-danger" *ngIf="signupForm.controls['phoneNumber'].touched && signupForm.controls['phoneNumber'].invalid">
                    <span *ngIf="signupForm.controls['phoneNumber'].errors?.['required'] && !errorsResponse.phone">
                        <div class="alert alert-danger">This Field Is Required</div>
                    </span>
                    <span *ngIf="signupForm.controls['phoneNumber'].errors?.['pattern']">
                        <div class="alert alert-danger">Phone Number Must be 11 digits and started with 010 or 011 or 012</div>
                    </span>
                  </div>
                  <div *ngIf="errorsResponse.phone" class="mt-2">
                    <div class="alert alert-danger">{{ errorsResponse.phone }}</div>
                  </div>
                </div>
                
                <div class="d-flex justify-content-center btn-div mt-2">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body register-btn" [disabled]="signupForm.invalid">Register</button>
                </div>
                <p class="text-center text-muted mt-2 mb-0">Have already an account? <a [routerLink]="'../login'"
                    class="fw-bold text-body text-gray"><u>Login here</u></a></p>
              </form>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
</section>
