<!-- Start Form Add Ingredients -->
<form
  [formGroup]="ingredientsForm"
  (ngSubmit)="addIngredientsForProduct()"
  class="form_admin text-bg-dark"
  *ngIf="showIngredientsForm"
>
  <div class="vertical_align_center">
    <h2 class="form_title">Add Ingredient</h2>
    <div class="close_icon" (click)="showIngredientsForm = false">
      <i class="fa-solid fa-circle-xmark"></i>
    </div>
    <div class="row">
      <!--Start Ingredient Name  Input -->
      <div class="col-xl-6 inputs__container">
        <label for="" class="px-2"
          >Ingredient Name<span class="text-danger">*</span></label
        >
        <select
          name="category_id"
          class="input__form"
          formControlName="Ingredient_id"
        >
          <option
            *ngFor="let ingredient of ingredients"
            value="{{ ingredient.id }}"
          >
            {{ ingredient.name }}
          </option>
        </select>
        <!-- Start Validation For Ingredient_id  -->
        <div
          *ngIf="
            ingredientsForm.controls['Ingredient_id'].invalid &&
            ingredientsForm.controls['Ingredient_id'].touched
          "
          class="text-danger"
        >
          <div
            *ngIf="ingredientsForm.controls['Ingredient_id'].errors?.['required']"
          >
            <p class="alert alert-danger">Ingredient Name is required</p>
          </div>
        </div>
        <!-- End Validation For Ingredient_id -->
      </div>
      <!--End Ingredient Name  Input -->

      <!--Start Ingredient Quantity  Input -->
      <div class="col-xl-6 inputs__container">
        <label for="" class="px-2"
          >Ingredient Quantity<span class="text-danger">*</span></label
        >
        <input
          type="number"
          class="input__form"
          formControlName="Ingredient_Quantity"
          placeholder=""
        />
        <!-- Start Validation For Ingredient Quantity  -->
        <div
          *ngIf="
            ingredientsForm.controls['Ingredient_Quantity'].invalid &&
            ingredientsForm.controls['Ingredient_Quantity'].touched
          "
          class="text-danger"
        >
          <div
            *ngIf="ingredientsForm.controls['Ingredient_Quantity'].errors?.['required']"
          >
            <p class="alert alert-danger">Ingredient Quantity is required</p>
          </div>
        </div>
        <!-- End Validation For Ingredient Quantity -->
      </div>
      <!--End Ingredient Quantity Input -->
    </div>
  </div>
  <button
    type="submit"
    class="btn-lg admin__sec__btn__form"
    [disabled]="ingredientsForm.invalid"
  >
    Add Ingredients
  </button>
</form>
<!-- End Form Add Ingredients -->
