<!-- <app-admin-navbar></app-admin-navbar> -->
<!-- <router-outlet></router-outlet> -->
<!-- HTML template -->
<!-- <router-outlet></router-outlet> -->
<div class="container good p-60">
  <h2 class="form_title">Products</h2>
  <hr />
  <div class="header_admin d-flex justify-content-between pt-4">
    <form id="search_form" [formGroup]="searchForm">
      <input
        type="text"
        
        name="searchTerm"
        placeholder="Search.."
        formControlName="searchTerm"
        class="input_search text-left"
      />
      <!-- <button type="submit">Search</button> -->
    </form>
    <a
      class="btn btn-primary ms-auto add-btn"
      [routerLink]="'/admin/dashboard/products/add'"
    >
      AddProduct
    </a>
  </div>

  <table class="table table-dark text-center mt-3">
    <thead>
      <tr>
        <th scope="col" class="">#ID</th>
        <th scope="col" class="">Name</th>
        <th scope="col" class="">image</th>
        <th scope="col" class="">status</th>
        <!-- <th scope="col" class="">category_id</th> -->
        <th scope="col" class="">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th>{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>
          <img
            [src]="'http://127.0.0.1:8000' + product.image"
            alt="image"
            width="30"
            height="30"
          />
        </td>
        <td>
          <!-- Rounded switch -->
          <label class="switch">
            <input
              type="checkbox"
              [checked]="product.status > 0 && product.closed == 0"
              (click)="change_status(product)"

            />
            <span class="slider round"></span>
          </label>
        </td>

        <!-- <td>{{ product.category_id }}</td> -->
        <td class="">
          <a
            class="btn btn-info m-2 edit-btn"
            id="{{ product.id }}"
            (click)="redirectToShowDetailsProduct(product.id)"
          >
            Show Details <i class="fas fa-pen-to-square"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <ngb-pagination
    [pageSize]="pageSize"
    [collectionSize]="totalItems"
    [(page)]="pageNumber"
    (pageChange)="onPageChange($event)"
    [maxSize]="10"
    [boundaryLinks]="true"
  >
  </ngb-pagination> -->

  <ngb-pagination
    [collectionSize]="totalItems"
    [pageSize]="pageSize"
    [(page)]="pageNumber"
    (pageChange)="onPageChange($event)"
  ></ngb-pagination>
</div>
