<!-- <p>aboutus-section works!</p> -->
<div class="AboutUs p-80">
  <div class="container">
    <div class="AboutUs__container row">
      <div class="col-lg-4">
        <div class="AboutUs__img">
          <img src="../../../assets/images/story-1.jpeg" alt="" />
          <img
            src="../../../assets/images/aboutus-2.jpg"
            class="AboutUs__img__sec"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="AboutUs__text">
          <h4 class="AboutUs__text__header">about us</h4>
          <h5 class="AboutUs__text__title square_line">
            between heaven & earth
          </h5>

          <h5 class="AboutUs__text__pragraph">
            The character and philosophy of our type of cuisine, which follows
            the ancestral technique of using different types of firewood, fire,
            charcoal and the scented trace of the smoke, inherently results in a
            limitation on the number of diners that we can accommodate without
            sacrificing our essence.
          </h5>
          <h5 class="AboutUs__text__bottom">
            Whisper to us about your feelings, and we will prepare what you need
            now.
          </h5>
          <a class="main__btn">discover more</a>
        </div>
      </div>
    </div>
  </div>
</div>
