<!-- <app-admin-navbar></app-admin-navbar> -->
<!-- <router-outlet></router-outlet> -->
<!-- HTML template -->
<div class="container good">
  <a class="btn__gen mt-3 btn__primary" [routerLink]="'add'"> AddProduct </a>
  <form (ngSubmit)="onSearch()">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      name="searchTerm"
      placeholder="Search"
    />
    <button type="submit">Search</button>
  </form>
  <table
    class="table table-secondary table-striped table-hover table-bordered text-center mt-3"
  >
    <thead>
      <tr>
        <th scope="col" class="w-25">#ID</th>
        <th scope="col" class="w-25">Name</th>
        <th scope="col" class="w-25">Description</th>
        <th scope="col" class="w-25">image</th>
        <th scope="col" class="w-25">discount</th>
        <!-- <th scope="col" class="w-25">status</th> -->
        <th scope="col" class="w-25">category_id</th>
        <th scope="col" class="w-25">Ingredients</th>
        <th scope="col" class="w-25">extra</th>
        <th scope="col" class="btn_container">ACTION</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr
        *ngFor="
          let product of products
            | slice : (page - 1) * pageSize : page * pageSize
        "
      > -->
      <tr *ngFor="let product of products">
        <th>{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.description || "No Descri.." }}</td>
        <td>
          <img
            [src]="'http://127.0.0.1:8000' + product.image"
            alt="image"
            width="30"
            height="30"
          />
        </td>
        <td>{{ product.discount || "%0" }}</td>
        <!-- <td>
          Rounded switch
          <label class="switch">
            <input
              type="checkbox"
              [checked]="product.status > 0"
              (click)="change_status(product.id)"
            />
            <span class="slider round"></span>
          </label>
        </td> -->

        <td>{{ product.category_id || "wrong" }}</td>
        <td>
          <select name="Ingredients" id="Ingredients">
            <option
              *ngFor="let Ingredient of product.ingredients"
              value="{{ Ingredient.id }}"
            >
              {{ Ingredient.name || "No Ingredient" }}
            </option>
          </select>
        </td>
        <td>{{ product.extra || "No Extra" }}</td>
        <td class="btn_container">
          <div class="btn btn__gen btn_actions btn-warning">Update</div>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <ngb-pagination
    [pageSize]="pageSize"
    [collectionSize]="totalItems"
    [(page)]="pageNumber"
    (pageChange)="onPageChange($event)"
    [maxSize]="10"
    [boundaryLinks]="true"
  >
  </ngb-pagination> -->

  <ngb-pagination
    [collectionSize]="totalItems"
    [pageSize]="pageSize"
    [(page)]="pageNumber"
    (pageChange)="onPageChange($event)"
  ></ngb-pagination>
</div>
