<div class="container py-5">
  <h2 class="form_title">Kitchen</h2>
  <hr />
  <div *ngIf="!orders">
    <div class="alert alert-info text-center">
      Kitchen Is Empty or Loading ...
    </div>
  </div>
  <div class="chef-box my-4" *ngFor="let order of orders">
    <div class="table-info">
      <h3 class="my-2 text-start">
        Table: <span style="color: #deac80">{{ order.table_id }}</span>
      </h3>
      <div class="order-details">
        <div class="my-2">order-num: {{ order.id }}</div>
        <div class="my-2">
          <span class="dine-in" style="background-color: #deac80">Dine-in</span>
        </div>
        <div>time: {{ order.created_at | date : "shortTime" }}</div>
        <button
          class="btn btn-outline-primary m-1"
          (click)="completeOrder(order.id)"
        >
          Order Done
        </button>
      </div>
    </div>
    <div class="orders">
      <h3 class="mb-5">
        Completed
        <span style="color: #deac80"
          >[{{ getOrderStatus(order.order_products).length }}/{{
            order.products.length
          }}]</span
        >
      </h3>
      <div class="orders-cards">
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-sm-12 col-md-6 col-xl-4"
              *ngFor="let product of order.products"
            >
              <div class="card" style="width: 18rem">
                <div class="text-center">
                  <img
                    [src]="'http://127.0.0.1:8000' + product.image"
                    width="150"
                    alt="..."
                  />
                </div>
                <div style="height: 100px" *ngIf="getExtra(product.id, order.order_products)">
                  <p class="card-text" *ngFor="let extra of getExtra(product.id, order.order_products)">- {{extra}}</p>
                </div>
                <div *ngIf="getOrderProductStatus(order.order_products, product.id) === 'Complete'">
                  <span class="alert alert-info comp-alert">This Product Is Completed</span>
                </div>
                <div *ngIf="getOrderProductStatus(order.order_products, product.id) === 'Cancel'">
                  <span class="alert alert-danger comp-alert cancel-alert">This Product Is Canceled</span>
                </div>
                <div [ngClass]="{'options-hide': getOrderProductStatus(order.order_products, product.id) === 'Complete' || getOrderProductStatus(order.order_products, product.id) === 'Cancel'}">
                <div class="options">
                  <button class="btn btn-info my-2 btn-complate" (click)="complete(order.id, getOrderProductId(product.id, order.order_products))">Completed</button>
                  <button class="btn btn-danger btn-cancel" (click)="canceledOrder(order.id, getOrderProductId(product.id, order.order_products))">Cancel</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
