<nav class="navbar sticky-top navbar-expand-lg mynav shadow">
  <div class="container-fluid">
    <a class="navbar-brand display-10" [routerLink]="''"
      ><img
        class="logo-image"
        src="assets/mylogo.png"
        alt=""
        width="25"
      />Jchef</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="''"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLinkActive="active"
            [routerLink]="'admin/dashboard'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Dashboard</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            routerLinkActive="active"
          >
            Waiter
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="'/Waiter/ProductDetail'"
                routerLinkActive="active"
                >ProductDetail</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="'/Waiter/ProductList'"
                routerLinkActive="active"
                >ProductList</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            register
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="'/register/login'"
                >Login</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'/register/signup'"
                >Sign Up</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <div class="search-container">
        <form action="/search" method="get">
          <input
            class="search expandright"
            id="searchright"
            type="search"
            name="q"
            placeholder="Search"
          />
          <label class="button-search searchbutton" for="searchright"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></label>
        </form>
      </div>
      <button class="btn btn-outline-success book-btn ms-3" type="submit">
        BOOK A TABLE
      </button>
    </div>
  </div>
</nav>
<script src="../../../assets/scriptCart.js"></script>
