  @import '@fortawesome/fontawesome-free/css/all.min.css';



:root {
    --main-background-color: #0e1317;
    --sec-background-color: #090d10;
    --main-color: #222b3d;
    --sec-color: #c39c6e;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Kalam:wght@300;400&display=swap');
  /* font-family: 'Caveat', cursive;
  font-family: 'Kalam', cursive; */