<div class="grid-container">
    <div class="container">
    <div class="column" >
        <div class="wrapper">
            <div class="left-column">
                <!-- Content for the left column -->
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 600">
                 <image href="../../../assets/pngegg (5).png"  height="500px" width="400px"  x="" y="-5" style="opacity: 50%;"></image>
                 <image href="../../../assets/pngegg (2).png"  height="300px" width="500px"  x="" y="-5" style="opacity: 70%;"></image>
                  </svg> 
        </div>
        <div class="right-column">
            <!-- Content for the right column -->
            <div>
              <h6>Make a res</h6>
            </div>
            <div class="form-outline">
                <label class="form-label" for="typeText">Your Name*</label>
                <input type="text" id="typeText" class="form-control" />
              </div>
              <div class="form-outline">
                <label class="form-label" for="typePhone"> Your Phone </label> 
                <input type="tel" id="typePhone" class="form-control" />
              </div>
              <!-- <div class="form-outline">
                <label class="form-label" for="typeNumber">Number input</label>
                <input type="number" id="typeNumber" class="form-control" />
              </div> -->
              <div class="cs-form">
                <label class="form-label" for="myTime"> Time </label> 
                <input type="time" class="form-control"  id="myTime" value="10:05 AM" />
              </div>
              <div class="datepicker-container">
                <label class="form-label" for="myDate"> Date </label> 
                <input type="date" class="form-control" id="myDate" name="myDate" format="dd-mm-yyyy">
              </div>
              <button class="btn btn-outline-success book-btn ms-3" type="submit">BOOK A TABLE</button>
            </div>
        </div>
       </div>
    </div>
    <div class="column">
      <p>some facts</p>
      <img>
      <p>Front signature dekight suach as beef tartare and the beat mashed<br>
      potato in paris,all the way to unique specialities such as thinly<br>
    sliced Brittany artichokes with truffles.</p>
      
    </div>
    </div>
  