<!-- <app-admin-navbar></app-admin-navbar> -->

<!-- HTML template -->
<!-- <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0"> -->
<!-- <app-admin-navbar></app-admin-navbar> -->

<!-- HTML template -->
<div class="container good p-60">
  <h2 class="form_title">Tables</h2>
  <hr />
  <div class="d-flex justify-content-between pt-4">
    <a
      class="btn btn-primary ms-auto add-btn"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal1"
    >
      Add
    </a>
  </div>
  <table class="table table-dark text-center mt-3">
    <thead>
      <tr>
        <th scope="col" class="">No</th>
        <th scope="col" class="">Guest Numbers</th>
        <th scope="col" class="">Status</th>
        <th scope="col" class="">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let table of Tables  " id="5">
        <td>{{ table.number }}</td>
        <td>{{ table.guest_numbers }}</td>
        <td>
          <!-- Rounded switch -->
          <label class="switch">
            <input
              type="checkbox"
              [checked]="table.status > 0"
              (click)="change_status(table.id)"
            />
            <span class="slider round"></span>
          </label>
        </td>
        <td class="">
          <div
            class="btn btn-info m-2 edit-btn"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal2"
            (click)="getIdtable(table.id)"
          >
            Edit <i class="fas fa-pen-to-square"></i>
          </div>
        </td>
      </tr>
    </tbody>

    <div class="d-flex justify-content-center">
      <!-- <pagination-controls
        (pageChange)="onPageChange($event)"
      ></pagination-controls> -->
    </div>
    <!-- <ngb-pagination
    [collectionSize]="totalItems"
    [pageSize]="pageSize"
    [(page)]="pageNumber"
    (pageChange)="onPageChange($event)"
  ></ngb-pagination> -->
  </table>
  <!-- Modal for Add Table -->
  <div
    class="modal fade"
    id="exampleModal1"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content text-bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Table</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form [formGroup]="tableForm" (ngSubmit)="createTable()">
          <div class="modal-body vertical_align_center">
            <!--Start Table No  Input -->

            <div class="mb-2 inputs__container">
              <label for="" class="px-2"
                >Table No<span class="text-danger">*</span></label
              >
              <input
                type="number"
                class="input__form"
                formControlName="TableNo"
              />
              <!-- Start Validation For Table No  -->

              <div
                *ngIf="TableNo_Control.invalid && TableNo_Control.touched"
                class="text-danger"
              >
                <div *ngIf="TableNo_Control.errors?.['required']">
                  <p class="alert alert-danger">TableNo is required</p>
                </div>
                <div *ngIf="TableNo_Control.errors?.['minlength']">
                  <p class="alert alert-danger">
                    Name must be at least
                    {{ TableNo_Control.errors?.['minlength'].requiredLength }}
                    characters long
                  </p>
                </div>
              </div>
              <!-- End Validation For Table No -->
            </div>
            <!--End Table No Input -->
            <!--Start guest_numbers  Input -->
            <div class="mb-2 inputs__container">
              <label for="" class="px-2"
                >Guest Numbers<span class="text-danger">*</span></label
              >
              <input
                type="number"
                class="input__form"
                formControlName="guest_numbers"
              />
              <!-- Start Validation For guest_numbers -->
              <div
                *ngIf="
                  guest_numbers_Control.invalid && guest_numbers_Control.touched
                "
                class="text-danger"
              >
                <div *ngIf="guest_numbers_Control.errors?.['required']">
                  <p class="alert alert-danger">guest numbers is required</p>
                </div>
                <div *ngIf="guest_numbers_Control.errors?.['minlength']">
                  <p class="alert alert-danger">
                    Name must be at least
                    {{ guest_numbers_Control.errors?.['minlength'].requiredLength }}
                    characters long
                  </p>
                </div>
              </div>
              <!-- End Validation For guest_numbers -->
            </div>
            <!--End guest_numbers  Input -->
            <!--Start Status Input -->
            <!-- <div class="mb-2 align-items-center status_input inputs__container">
              <label>Status<span class="text-danger">*</span></label>
              Rounded switch
              <label class="switch">
                <input type="checkbox" [checked]="" formControlName="status" />
                <span class="slider round"></span>
              </label>
            </div> -->
            <!--End Status Input -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="admin_closebtn_form"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn-lg admin_secbtn_form mx-3"
              [disabled]="!tableForm.valid"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Add Table
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal for update Table -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabe2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content text-bg-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabe2">Update Table</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="updatetableForm" (ngSubmit)="updatetable(idtable)">
        <div class="modal-body bgGreyLight_1 vertical_align_center">
          <!--Start Table No  Input -->

          <div class="mb-2 inputs__container">
            <label for="" class="px-2"
              >Table No<span class="text-danger">*</span></label
            >
            <input
              type="number"
              class="input__form"
              formControlName="TableNo_updated"
              id="TableNo_updated"
            />
            <!-- Start Validation For Table No  -->

            <div
              *ngIf="
                TableNo_updated_Control.invalid &&
                TableNo_updated_Control.touched
              "
              class="text-danger"
            >
              <div *ngIf="TableNo_updated_Control.errors?.['required']">
                <p class="alert alert-danger">TableNo is required</p>
              </div>
              <div *ngIf="TableNo_updated_Control.errors?.['minlength']">
                <p class="alert alert-danger">
                  Name must be at least
                  {{ TableNo_Control.errors?.['minlength'].requiredLength }}
                  characters long
                </p>
              </div>
            </div>
            <!-- End Validation For Table No -->
          </div>
          <!--End Table No Input -->
          <!--Start guest_numbers  Input -->
          <div class="mb-2 inputs__container">
            <label for="" class="px-2"
              >Guest Numbers<span class="text-danger">*</span></label
            >
            <input
              type="number"
              class="input__form"
              formControlName="guest_numbers_updated"
              id="guest_numbers_updated"
            />
            <!-- Start Validation For guest_numbers -->
            <div
              *ngIf="
                guest_numbers_updated_Control.invalid &&
                guest_numbers_updated_Control.touched
              "
              class="text-danger"
            >
              <div *ngIf="guest_numbers_updated_Control.errors?.['required']">
                <p class="alert alert-danger">guest numbers is required</p>
              </div>
              <div *ngIf="guest_numbers_updated_Control.errors?.['minlength']">
                <p class="alert alert-danger">
                  Name must be at least
                  {{ guest_numbers_Control.errors?.['minlength'].requiredLength }}
                  characters long
                </p>
              </div>
            </div>
            <!-- End Validation For guest_numbers -->
          </div>
          <!--End guest_numbers  Input -->
          <!--Start Status Input -->
          <!-- <div class="mb-2 align-items-center status_input inputs__container">
            <label>Status<span class="text-danger">*</span></label>
            Rounded switch
            <label class="switch">
              <input
                type="checkbox"
                [checked]=""
                formControlName="status_updated"
              />
              <span class="slider round"></span>
            </label>
          </div> -->
          <!--End Status Input -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="admin_closebtn_form"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn-lg admin_secbtn_form mx-3"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Update Table
          </button>
        </div>
        
      
      </form>


    </div>
  </div>
</div>
<!-- </div> -->
<!-- <pagination-controls  class="text-center my-pagination"(pageChange)="p = $event"></pagination-controls> -->