
  
.background-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 20px;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
}

.box {
  flex: 1 1 300px;
  height: 200px;
  margin: 10px;
  
  /* background-color: #ccc; */
 
}


.box2 {
margin-left: 150px;
}

@media (max-width: 768px) {
  .box2 {
    display: none;
  }
}
.main__btn {
  color: white;
  background-color: var(--main-color);
  outline: 1px solid var(--special-text-color);
  outline-offset: 3px;
  padding: 10px 13px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Rokkitt', serif;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s;
  font-weight: 700;
  
}

.main__btn:hover {
  background-color: var(--special-button-color);
  color: var(--background-color-of-sections);
  font-weight: 600;
}
/* text{
  font-family: 'Caveat', cursive; 
  font-size: 20px;
} 
  */
  span{
    color: white;
    font-size: 20px;
  }
