/* *{
    background-image: url("/src/assets/vegetables-set-left-black-slate.jpg");
    width:100%; 
} */
/* .container {
    position: relative;
    text-align: center;
    color: white;
  } */
  @media screen and (min-width: 601px) {
    div.example {
      font-size: 50px;
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      color: aliceblue;
    }
  }
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 20px;
      position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    }
  }
  button{
    margin-bottom: 500px;
    margin-left: 250px;
  }
  