         <!-- <div style="background-color: #0e1317;" > 
         <div style="position: relative;">
         <div >
            <div>
    
    </div>
    </div>
    </div>
    <div style="display: flex;">
        <div style="flex: 1;" >
                <a class="main__btn">discover more</a> 
              </div><image href="../../../assets/chiken(2).png" width="13%"  y="65"  x="320" ></image>
        </div>
        <div style="flex: 1"></div>
      </div>
    </div>          <image href="../../../assets/pngegg (6).png" width="30%"  y="-7"  x="80" style="opacity:60%"  ></image>

     -->
     <!-- <div class="container">
      <div class="box">Box 1jv;sv
        sfb;sb;sb;'sans-serifsdfkbsdskdfbisvfslkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
        '
      </div>
      <div class="box">Box 2</div>
      
    </div> -->
    
    <!-- <div class="container" style="">
      <div class="box">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 140" style="margin-bottom: 40px;">
          <image href="/assets/pngwing.com.png" width="50%" ></image>
          
          <text class="wavy" x="40" y="100" style="fill:white;font-family: 'Caveat', cursive;" font-size="20px" >Your Favourite Food</text>
          <text class="wavy"  x="70" y="130" style="fill:white;" font-size="15px">In your Favourite Place</text>
      </svg>
       <a class="main__btn">discover more</a><span style="margin-left: 20px;">or +33 156 78 89 56</span>
      </div>     

      <div class="box box2">
                  <img src="../../../assets/chiken.png" alt="Image description" style="position: absolute; ; width: 100%px; height: 100%; object-fit: cover;">

        </div>
      </div> -->
    <body>
      <div class="container-fluid" >
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 left-section text-center mb-4 ">
              <h2></h2>
              <p>Your Favourite Food In Your </p>
              <p>Favourite Place</p>
              <a class="main__btn">discover more</a>
            </div>
            <!-- <div class="col-md-6 right-section">
            </div> -->
          </div>
        </div>
      </div>
    </body>