<!--  <!DOCTYPE html>
<html lang="en">

<body>
    <img src="/assets/vegetables-set-left-black-slate.jpg" style="width:100%;">
</body>
</html> -->
     
 
    



        
   
     <!-- <img src="/assets/vegetables-set-left-black-slate.jpg" width="100%">
      <div class="example"></div> -->
     
  
 
   
      <div style="background-color: #0e1317;"> 
        
         
     <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 160">
        <!-- this is the right leaf -->
              <image href="../../../assets/pngegg (1).png" width="50%" x="190" y="17" style="opacity:70% "></image>
     <!-- this is the left leaf -->
      <image href="/assets/pngwing.com.png" width="20%" x="40" y="5"></image>
        <text  y="100" style="fill:black;letter-spacing: 15px;;font-size:70px; opacity:20% ;font-family: Calibri, Candara, Segoe, “Segoe UI”, Optima, Arial, sans-serif ; font-weight: 10;
        " id="hi" >RESTRENT</text>
        <!-- the food image -->
        <image href="../../../assets/chiken.png" width="35%" x="230" y="8" style="opacity:90%" ></image>
        <image href="../../../assets/smok.png" width="40%"  y="8" style="opacity:90%" rx="5" ></image>

        <!-- <rect width="100" height="200" style="fill:black; opacity:20%" x="230"></rect>   -->

        <text class="wavy" x="70" y="90" style="fill:white;" font-size="15px">Your Favourite Food</text>
        
        <text class="wavy"  x="70" y="110" style="fill:white;" font-size="9px">In your Favourite Place</text>
        
    </svg>
    <!-- <img src="../../../assets/fire.png" width="100%" height="100px" style="opacity:70%;background-color:#0e1317; ;"  > -->

    </div>
    