
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		
	</style>
</head>
<body>
    <div class="text">
        <p class="team" class="gold">Team of Restarent</p>
        </div>
        <div class="text" >
            <p >Meet Our Professionals</p>
            </div>
            <div class="container">
                <img class="img" src="/assets/lane.png" alt="Example Image">
            </div>
           
	<div class="card-container">
        
		<div class="card">
			<img src="/assets/cheflight  (2).jpg" alt="Card Image">
			
		</div>
		<div class="card">
			<img src="/assets/cheflight  (1).jpg" alt="Card Image">
			
		</div>
		<div class="card">
			<img src="/assets/cheflight  (4).jpg" alt="Card Image">
			
		</div>
		
	</div>
</body>
</html>
