   
	<div class="container">
		<div class="text">
		  <p class="team gold">Team of Restaurant</p>
		</div>
		<div class="text">
		  <p>Meet Our Professionals</p>
		</div>
		<img class="img" src="/assets/lane.png" alt="Example Image">
	  </div>
	  
	  <div class="profile-cards">
		<div class="profile-card">
		  <div class="profile-image">
			<img src="../../../assets/cheflight  (2).jpg" alt="Profile Image">
		  </div>
		  <div class="profile-info">
			<h3>Wolfgang Puck</h3>
			<p>Wolfgang Puck is an Austrian-American chef, restaurateur, and influential businessman in the culinary world.</p>
		  </div>
		</div>
		<div class="profile-card">
		  <div class="profile-image">
			<img src="../../../assets/cheflight  (1).jpg" alt="Profile Image">
		  </div>
		  <div class="profile-info">
			<h3>Thomas Keller</h3>
			<p>Thomas Keller is an illustrious American chef, restaurateur, and author of many cookbooks. He is renowned for his contemporary American cooking style and his utilization of top-tier ingredients.</p>
		  </div>
		</div>
		<div class="profile-card">
		  <div class="profile-image">
			<img src="../../../assets/cheflight  (4).jpg" alt="Profile Image">
		  </div>
		  <div class="profile-info">
			<h3>Ferran Adria</h3>
			<p>Ferran Adria is hailed as a leader of molecular gastronomy and one of the most influential Michelin star chefs in the world.</p>
		  </div>
		</div>
	  </div>


