

<div class="menu">
    <h6 class="the title">From Our Mennu</h6>   
    <h2>Try Our Special Offers</h2>
    <div>
    <img class="img" src="../../../assets/line number 2.png" alt="Example Image"></div>
    <div class="column">
      <ul>
        <li>
          <h5>Garlic Bread</h5>
          <p>Warm garlic bread with melted mozzarella cheese</p>
          <p class="price">$6.99</p>
        </li>
        <li>
          <h5>Bruschetta</h5>
          <p>Garlic toast topped with fresh tomatoes, basil, and balsamic glaze</p>
          <p class="price">$8.99</p>
        </li>
        <li>
          <h5>Caprese Salad</h5>
          <p>Slices of fresh mozzarella and tomato with basil and balsamic glaze</p>
          <p class="price">$10.99</p>
        </li>
        <li>
          <h5>Fried Calamari</h5>
          <p>Lightly battered calamari rings with marinara sauce</p>
          <p class="price">$12.99</p>
        </li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <li>
          <h5>Chicken Parmesan</h5>
          <p>Breaded chicken breast with marinara sauce and melted mozzarella cheese over spaghetti</p>
          <p class="price">$16.99</p>
        </li>
        <li>
          <h5>Veal Marsala</h5>
          <p>Sautéed veal cutlets with mushrooms in a Marsala wine sauce over linguine</p>
          <p class="price">$19.99</p>
        </li>
        <li>
          <h5>Eggplant Parmesan</h5>
          <p>Breaded eggplant with marinara sauce and melted mozzarella cheese over spaghetti</p>
          <p class="price">$14.99</p>
        </li>
        <li>
          <h5>Shrimp Scampi</h5>
          <p>Sautéed shrimp in a garlic butter sauce over linguine</p>
          <p class="price">$18.99</p>
        </li>
      </ul>
    </div>
    <div>
    <a class="main__btn">Our Menu</a>
</div>
</div>
  