.menu {
    display: block;
    text-align: center;
    background-color: #090d10;
    padding: 15px;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 900px; /* Add margin: 0 auto to center the menu horizontally */
    margin-bottom: 100px;
    margin-top: 100px;
    position: relative;
    z-index: 5;
    outline: 1px solid var(--special-text-color);
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s;
    /* height: 100vh; */
  }

  .column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
      }

  h2 {
    font-size: 24px;
    margin-top: 0;
    color: aliceblue;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: left;
    margin-bottom: 50px;
  }

  li {
    margin-top: 20px;
  }

  h5 {
    font-size: 18px;
    color: white;
  }

  p {
    margin: 0;
    font-size: 11px;
    color: rgb(119, 118, 118);
    font-weight: 100;
  }

  .price {
    font-weight: bold;
    text-align: right;
    color: #c39c6e;
  }

  @media (max-width: 768px) {
    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 100%;


    }

    .column {
      width: 100%;
      display: block;
    }
  }
  img{
    width: 200px;


  }
  .main__btn {
    color: white;
    background-color: var(--main-color);
    outline: 1px solid var(--special-text-color);
    outline-offset: 3px;
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Rokkitt', serif;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s;
    font-weight: 300;
    margin-bottom: 100px;
  }
  .main__btn:hover {
    background-color: var(--special-button-color);
    color: var(--background-color-of-sections);
    font-weight: 200;
  }
  h6{
    color:#c39c6e !important;
    font-size: 17px;
}
/* @media (max-width: 768px) {
  .column {
    display: block;
    width: 100%;
  }
} */
@media (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  p {
    font-size: 10px;
  }
}
/* @media (max-width: 768px) {
  .menu {
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 80px;
  }
  ul {
    padding: 5px;
    margin-bottom: 30px;
  }
  li {
    margin-top: 10px;
  }
  .main__btn {
    margin-bottom: 50px;
  }
} */
@media (max-width: 768px) {
  img{
    width: 250px;

  }
}
@media (max-width: 768px) {
  .menu {
    padding: 9px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto; /* remove the fixed height */
  }
  ul {
    padding: 5px;
    margin-bottom: 30px;
  }
  li {
    margin-top: 10px;
  }
  .main__btn {
    margin-bottom: 30px;
  }
  /* add margin to the last line */
  ul:last-child {
    margin-bottom: 0px;
  }
}
